.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(247, 236, 222);
}

.login-content{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.submit-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.submit-button{
    width: 15%;
    height: 40px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: rgb(84, 186, 185);
    color:rgb(247, 236, 222);
    font-size: 16px;
    font-weight: bold;
    
}

.submit-button:hover{
    opacity: 0.6;
}

.labelError{
    font-size: 14px;
    color: red;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    box-sizing: border-box;
    margin-left: 10px;
    display: flex;
    position: absolute;
    top: 56%;
    left: 44%;
}

.imagenStyle{
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3%;
    left: 42%;
}